 <ion-view title="Food Analysis">

   <!-- search -->
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="searchKey" autocorrect="off" >

            <button class="button button-clear" ng-click="clearSearch()">X</button>
        </label>
        <button class="button button-clear" ng-click="search()">Search</button>
   </div>
 
<-- Ranking -->
     <ion-content class="padding"><br><br>
            <ion-list>
                <div class="item item-divider">
          Ranking Top 10
    </div>
<!--                   <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/home/foodId" ng-repeat="food in foods">
  <img ng-src="http://tmhm1.dothome.co.kr/06.02/pdt_basic.png">
          <h2>{{food.snack_name}}</h2>
          <p>{{food.manufacturer}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
</ion-item> -->

                   <ion-item ng-repeat="food in foods | limitTo:10" type="item-text-wrap" class="item-avatar"
                   ng-click="foodDetail()">
                      <img src="http://tmhm1.dothome.co.kr/06.02/pdt_basic.png"/>
                      {{food.snack_name}}
                      <p>{{food.manufacturer}}</p>
                  </ion-item>
            </ion-list>
           </div>


            <!-- Recent -->
           <div>
            <ion-list>
                <div class="item item-divider">
           Recent 10
    </div>
                   <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/home/foodId">
                    <img ng-src="http://tmhm1.dothome.co.kr/06.02/pdt_basic.png">
                            <h2>Recent First Item</h2>
                            <p>Manufacturer</p>
                            <i class="icon ion-chevron-right icon-accessory"></i>
                  </ion-item>
            </ion-list>
      </ion-content>
</ion-view>
