<ion-view view-title="Food detail">
  <ion-content class="padding">
    <div class="list card">

      <div class="item item-avatar">
        <img src="{{food.image_url}}">
        <h2>{{ food.snack_name }}</h2>
        <p>{{food.manufacturer}}</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="{{food.image_url}}">
        <p>
          text
        </p>

<!-- Ingredient Information -->
        <p>
          <div class="list card">
            <div class="item item-divider">
              Ingredient
            </div>

            <a href="#" class="item item-icon-left" ng-repeat="ingredient in food.ingredient">
              <i class="icon ion-beaker"></i>
              {{ingredient.ing_name}}
              <p>{{ingredient.ing_recommanded}}</p>
            </a>
          </div>
        </p>

        <!-- Like and Comments -->
        <p>
          <a href="#" class="subdued">{{food.likes.length}} Like</a>
          <a href="#" class="subdued">{{food.comments.length}} Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="#">
          <i class="icon ion-thumbsup"></i> 
          Like
        </a>
        <a class="tab-item" ng-click="modal.show()">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>


    </div>
  </ion-content>
</ion-view>
