<ion-view view-title="Food detail">
    <!-- search -->
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="searchKey" autocorrect="off" >

            <button class="button button-clear" ng-click="clearSearch()">X</button>
        </label>
        <button class="button button-clear" ng-click="search()">Search</button>
    </div>

  <ion-content class="padding">


<br>
    <div class="list card" ng-repeat="review in reviews|filter:searchKey">

  <div class="item item-avatar">
    <img src="http://cfs9.blog.daum.net/upload_control/download.blog?fhandle=MDVtMzdAZnM5LmJsb2cuZGF1bS5uZXQ6L1BST0ZJTEUvMC8wLmpwZw==&filenamebg      =0.jpg">
    <b>{{review.by.nickname}}</b> posted a review  <!-- nickname -->
    <p>{{review.updated_time}}</p>  <!-- updated time -->
  </div>

  <div class="item item-body">
    <p>
      {{review.text}}
    </p>
    <p>


<!-- count LIKE and Comments -->
    </p>
    <p>
      <a href="#" class="subdued">0 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

<!-- Like and Comments Button -->
 <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>


</div>
  </ion-content>
</ion-view>
