<ion-view title="Food Analysis">
<ion-content class="padding">

<div class="list card">

  <div class="item item-avatar">
    <img src="http://cfile28.uf.tistory.com/image/01639E375194FC89248E10">
    <h2>David Backham</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="http://pds16.egloos.com/pds/200910/10/09/c0074709_4ad0015560583.jpg">
    <p>
      A lot of Snacks in the convinient store are dangerous. Some Ingredients are not carefully inspected.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
      <a href="#" class="subdued">200 Views</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>


<div class="list card">

  <div class="item item-avatar">
    <img src="http://cfile28.uf.tistory.com/image/01639E375194FC89248E10">
    <h2>David Backham</h2>
    <p>November 05, 1955</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="http://pds16.egloos.com/pds/200910/10/09/c0074709_4ad0015560583.jpg">
    <p>
      A lot of Snacks in the convinient store are dangerous. Some Ingredients are not carefully inspected.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
      <a href="#" class="subdued">200 Views</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>

</ion-content>
</ion-view>